html,body{
    height: 100%;
    font-weight: 300;
    font-size: 1.1em;
    font-family: 'Courgette', cursive;

}

.jumbotron{
    background-image: url(img/h_img.jpg);
    opacity: 8;
    height: 600px;
    background-position: fixed;
    text-align: center;
    background-size: cover;
    height: 370px;
    color: aliceblue;
    font-size: smaller;
}

.logo{
    height: 50px;
    width: 50px;
}

.mouse{
    height: 25px;
    width: 15px;
}

#services{
    background-image: url(img/s_image.jpg);
    color: aliceblue;
    background-size: cover;
    text-align: center;
    height: 250px;   
    background-position: fixed;
    font-size: smaller;
    padding-left: 0; 
    padding-right: 40px;
    padding-top: 9%;
    padding-bottom:25%;
    
}

h2, h3, h5{
    text-align: center;
}

.row{
    text-align: center;    
}

.overlay{
    background-image: url(img/c_image.jpg);
    color: aliceblue;
    height: 370px;
}

.contacts{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 11px;
}

#MERGE1{
    background-color: #66000000;
}

#MERGE0{
    background-color: #66000000;
}

#message{
    background-color: #66000000;
}

.icon{
    text-align: center;
}

#work1{
    float: left;
    position: relative;
	margin: 5px;
	color: #333;
}
#work1 .image-cap{
   	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 145px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}

#work2{
    float: left;
    position: relative;
	margin: 5px;
	color: #333;
}
#work2 .image-cap{
   	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 145px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}

#work3{
    float: left;
    position: relative;
	margin: 5px;
	color: #333;
}
#work3 .image-cap{
   	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 145px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}

#work4{
    float: left;
    position: relative;
	margin: 5px;
	color: #333;
}
#work4 .image-cap{
   	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 145px;
	position: absolute;
	bottom: 0px;
    padding: 5px;
    height: 100%;
}

